@charset "UTF-8";

:root {
	--bgcolor: rgb(0, 0, 0);
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

html{
	background: #000;
}
.move .bg .bg-content{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(100% / 10);
	z-index: 999;
}
.move .bg .bg-content:nth-child(2){
	left: 10%;
	animation-delay: 0.2s;
}
.move .bg .bg-content:nth-child(3){
	left: 20%;
	animation-delay: 0.3s;
}
.move .bg .bg-content:nth-child(4){
	left: 30%;
	animation-delay: 0.4s;
}
.move .bg .bg-content:nth-child(5){
	left: 40%;
	animation-delay: 0.5s;
}
.move .bg .bg-content:nth-child(6){
	left: 50%;
	animation-delay: 0.6s;
}
.move .bg .bg-content:nth-child(7){
	left: 60%;
	animation-delay: 0.7s;
}
.move .bg .bg-content:nth-child(8){
	left: 70%;
	animation-delay: 0.8s;
}
.move .bg .bg-content:nth-child(9){
	left: 80%;
	animation-delay: 0.9s;
}
.move .bg .bg-content:nth-child(10){
	left: 90%;
	animation-delay: 1s;
}
.move .bg .bg-content:before{
	background: rgb(128, 128, 255);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.move .bg .bg-content{
	animation-name: bg-anime;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes bg-anime{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(100%);
	}
}
body {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	place-items: center;
	background: var(--bgcolor);
	color: white;
}
a,a:hover,a:visited {
	color:white;
}
a{
	text-decoration: none;
}
ul {
	list-style: none;
}
h1 {
	font-size: 5rem;
	position: relative;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}
h1:hover {
	transform: skew(10deg);
}
h1::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
h1:hover::before {
	top: -3px;
	left: 0px;
	color: rgb(128, 128, 255);
}

h1::after {
	content: "";
	height: 4px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(128, 128, 255);
	transition: all 300ms ease;
}
h1:hover::after {
	width: 120%;
	outline: 5px solid rgb(2, 0, 36);
}
#nav{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
/* //////////////////////////// */

/*  links sidebar CSS  */
.links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background: rgb(255, 255, 255);
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px rgb(128, 128, 255);
	transition: all 300ms ease;
}

.links:hover {
	box-shadow: -8px 0px 20px rgb(128, 128, 255);
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.links a {
	color: rgb(0, 0, 0);
	font-size: 1.5rem;
	transition: all 200ms ease;
}
links a:visited {
	color: rgb(0, 0, 0);
}
.links a:hover {
	color: rgb(128, 128, 255);
	font-size: 1.75rem;
}
.links i{
	color: #00bcd4;
	font-size: 28px;
	transition: color 0.3;
}
links i:hover{
	color: ffffff;
}